.details{
    margin-top: 70px;
}

.product-details-image{
    width: 100%;
    height: 400px;
    object-fit: contain;
    margin-top: 60px;
}

.product-color{
    border: 3px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.add-to-cart-button{
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.remove-to-cart-button{
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;
}

.buy-now-button{
    height: 35px;
    border: 1px solid blueviolet;
    color: blueviolet;   
}

.product-quantity{
    margin-top: 20px;
}

.product-quantity button{
    padding: 10px;
}

.product-quantity input{
    width: 50px;
    padding: 10px;
}